.quote-popup {
    position: fixed;
    top: 160px;
    right: 30px; 
    display: flex;
    background-image: url('/images/bobross.jpg'); /* Replace with the path to your image */
    background-size: cover; /* Adjust how the image covers the box */
    background-repeat: no-repeat; 
    /* background-color: rgba(255, 102, 0, 0.8); */
    color: #fff;
    border: 1px solid #570a00;
    padding: 10px 20px;
    max-width: 500px; /* Set the maximum width */
    word-wrap: break-word; /* Allow text to break into multiple lines */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Add a shadow for depth */
    border-radius: 5px;
    animation: fadeInOut 5s ease-in-out;
  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  